[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "midas"]
	path = midas
	url = https://github.com/shapenaji/midas
	shallow = true
	registered = true
